<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Sign in</title>
    <script type="text/javascript" src="login.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

   <link rel="stylesheet" href="../styles/sign-in.css" />
   <link rel="stylesheet" href="{{ url_for('static', filename='styles/customer-sign-in.css') }}"/>
  </head>
  <body>
    <div class="container">
      <div class="image">
        <h2><a href="index.html">FixMyRide</a></h2>
      </div>

      <div class="login-con">
        <h3>Sign in</h3>

        <form
          id="login-form"
          action="http://localhost:5000/sessions"
          method="POST"
        >
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Email Address"
            autocomplete="on"
          />

          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            autocomplete="on"
          />

          <div class="forgot-pwd">
            <input
              type="checkbox"
              name="remember-me"
              id="remember-me"
              autocomplete="on"
            />
            <label for="remember-me">Remember me</label>
            <p class="pwd">Forgot password?</p>
          </div>

          <div class="sign-in">
            <button class="log-in" type="submit"><a href="../templates/admin-dashboard.html">Log in</a></button>
          </div>
        </form>

        <p class="option">
          Don't have an account?
          <span><a href="sign-up.html">Sign up</a></span>
        </p>
      </div>
    </div>

    <section>
      <div class="arrow">
        <ul class="top">
          <li>
            <span
              ><a href="index.html"><i class="fa-solid fa-arrow-up"></i></a
            ></span>
            <span><p>Go back Home</p></span>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
