@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --darkblue: hsl(240, 100%, 27.3%);
  --white: hsl(0, 0%, 100%);
  --lightblue: hsl(195, 48%, 82%);
  --blue: hsl(240, 96%, 46%);
  --gray: hsl(0, 0%, 50%);
  --yellow: rgb(253, 253, 7);
  --yellowgreen: rgb(131, 248, 13);
  --lightgray: rgb(177, 175, 175);
  --black: #000;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
}

/* Navigation Styling */

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #333;
  transition: all 0.3s ease-in-out;
  display: block;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 4rem;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.logo h2 {
  color: var(--yellow);
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.logo h2 {
  color: var(--yellow);
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

nav ul li {
  display: inline-block;
  text-align: center;
  justify-content: center;
  padding: 0 0.5rem;
}

nav ul li a {
  color: rgb(29, 28, 28);
}

nav ul li a:active,
nav ul li a:hover {
  color: rgb(253, 253, 7);
  transition: 0.3s;
}

button {
  padding: 0.9rem 1.7rem;
  border: none;
  border-radius: 1.5rem;
  transition: 0.4s;
  font-size: 0.9rem;
  font-weight: 200;
  margin: 0.4rem;
  cursor: pointer;
}

.btn-sign-up,
.btn-sign-in {
  background-color: rgb(36, 193, 245);
  color: var(--white);
}

.btn-sign-up a,
.btn-sign-in a {
  color: var(--white);
}

.btn-sign-in:hover,
.btn-sign-up:hover {
  background-color: rgb(131, 248, 13);
  color: #000;
}
/* End of Navigation Styling */

/* Hero Styling */
.hero {
  background-image: url("../images/car-background1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 70vh;
}

.hero-container {
  width: 100vw;
  height: 70vh;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
}

.hero-detail {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  color: var(--white);
}

.hero-detail h3 {
  margin-top: 10rem;
  margin-bottom: 1rem;
  padding-right: 1.5rem;
  display: inline-flex;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.hero-container h3 a {
  color: var(--white);
}

.color {
  color: var(--gray);
}

.hero-detail p {
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: capitalize;
}
/* End of Hero Section Styling */

/* Vision and Mission Section Styling */
.vision-section {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.vision-container {
  max-width: 1200px;
  margin: 0 auto;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.mission,
.vision {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--blue);
}

/* End of Vision and Mission Section Styling */

/* Team Members Section Styling */
.paul,
.solomon,
.chinwendu {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.image {
  width: 300px;
  height: 300px;
  margin-top: 3rem;
}

.container {
  border: 1px solid var(--lightblue);
  color: var(--darkblue);
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  padding: 1.5rem;
}

.team-section {
  padding: 50px;
  text-align: center;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.container {
  text-align: left;
}

/* Bcak to top Styling */
.back-to-top {
  display: grid;
  justify-content: end;
}

.top {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 5px;
  align-items: center;
}

.top li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top li a {
  display: inline-block;
  padding: 5px;
  color: #000;
  text-decoration: none;
}

.top li a:hover {
  color: #fff;
  background-color: #000;
}

.top li p {
  margin: 0;
  font-size: 14px;
}


/* Footer Styling */
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 50px;
  background-color: var(--darkblue);
  color: var(--white);
}

.footer-container {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.footer-left p {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.2rem;
}

.footer-center {
  position: relative;
}

.footer-center h3 {
  margin-bottom: 1rem;
}

.footer-center li a {
  color: var(--white);
  margin-bottom: 0.5rem;
  display: inline-block;
}

.footer-center li a:hover {
  color: var(--yellow);
}

.info {
  position: relative;
}

.info li {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 0.6rem;
}

.info li span:nth-child(1) {
  font-size: 20px;
  color: var(--white);
}

.info li span {
  color: var(--white);
}

.info a {
  color: var(--white);
}

.footer-right h3 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .nav-list {
    display: none;
    margin: auto;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .nav-list.show {
    display: flex;
    flex-direction: column;
  }

  .menu,
  .right-nav {
    display: flex;
    flex-direction: column;
  }

  .hamburger-menu {
    display: block;
    z-index: 100;
  }

  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .footer-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .details {
    display: block;
  }

  .mission,
  .vision {
    width: 80%;
    margin: auto;
  }

  .mission {
    margin-bottom: 1.5rem;
  }

  .team-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .team-container {
    grid-template-columns: 1fr;
  }
}
