@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital@1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --white: hsl(0, 0%, 100%);
  --lightblue: hsl(195, 73%, 55%);
  --blue: hsl(240, 78%, 57%);
  --darkblue: hsl(240, 70%, 45%);
  --gray: hsl(0, 4%, 86%);
  --darkgray: rgb(192, 178, 178);
  --yellow: rgb(253, 253, 7);
  --yellowgreen: rgb(131, 248, 13);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: gray;
}

.container {
  display: flex;
  background-image: url("../images/tools.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  margin: 4rem;
}

.image {
  display: flex;
}

.image h2 {
  color: var(--yellow);
  font-size: 1.5rem;
  margin: 2rem;
}

.image h3 {
  font-size: 1rem;
  margin: 2rem 6rem;
  color: var(--yellow);
}

.image h3 a:hover {
  color: var(--blue);
}

.image h3 a {
  color: var(--yellow);
}

.sign-up-form {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  margin-left: -8rem;
}

h3 {
  font-size: 1.2rem;
  color: var(--yellow);
  text-align: center;
  margin-right: 26rem;
  margin-bottom: 2rem;
}

.button {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  background: var(--gray);
  padding: 0.4rem 1rem;
  margin-bottom: 3rem;
  margin-left: 2.5rem;
  margin-right: auto;
}

.customer {
  background: transparent;
  font-size: 1rem;
  border-radius: 2rem;
  padding: 1rem 2rem;
  border: none;
  margin-right: 2.5rem;
}

.customer a {
  color: var(--white);
}

.admin {
  background: var(--blue);
  color: var(--white);
  font-size: 1rem;
  border-radius: 2rem;
  padding: 1rem 2.5rem;
  border: none;
  margin-right: 3rem;
  margin-left: 0;
}

.form {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
}

input[placeholder] {
  color: var(--darkgray);
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"] {
  width: 80%;
  padding: 1rem 0.7rem;
  border: 1px solid var(--lightblue);
  outline: none;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

.confirm-pwd {
  display: flex;
  margin-bottom: 1rem;
  color: var(--lightblue);
}

.confirm-pwd label {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

.reg {
  padding: 0.7rem;
  cursor: pointer;
  width: 25%;
  margin-bottom: 1.5rem;
  color: var(--white);
  background: var(--blue);
  border-radius: 0.5rem;
  border: none;
}

.option {
  color: var(--lightblue);
}

p {
  font-size: 0.9rem;
}

span a {
  color: var(--blue);
} 

span a:hover {
  color: var(--yellowgreen);
}

/* MEDIA QUERY */

@media screen and (max-width: 768px) {
  body {
    background-color: var(--white);
  }

  .container {
    background-image: none;
  }

  .sign-up-form {
    margin: auto;
  }

  .image {
    display: none;
  }

  .button {
    width: 60%;;
  }

  h3 {
    margin-right: 7rem;
    color: var(--blue);
    font-size: 1.5rem;
  }

  input[type="text"],
  input[type="password"],
  input[type="tel"],
  input[type="email"] {
    width: 85%;
  }

  .option {
    color: var(--darkblue);
  }

  .back-to-top {
    display: grid;
    justify-content: end;
  }
  
  .top {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 5px;
    align-items: center;
  }
  
  .top li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .top li a {
    display: inline-block;
    padding: 5px;
    color: #000;
    text-decoration: none;
  }
  
  .top li a:hover {
    color: #fff;
    background-color: #000;
  }
  
  .top li p {
    margin: 0;
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .sign-up-form {
    margin: auto;
  }

  .image {
    display: none;
  }

  h3 {
    margin-right: 5rem;
  }

  .button {
    padding: 0.2rem 0.2rem;
    margin-left: 0;
    width: 80%;
  }

  .admin {
    margin-left: 2.5rem;
  }

  .confirm-pwd label,
  p,
  span {
    font-size: 0.9rem;
  }

  input[type="text"],
  input[type="password"],
  input[type="tel"],
  input[type="email"] {
    width: 80%;
  }
}
