@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital@1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --white: hsl(0, 0%, 100%);
  --lightblue: hsl(195, 73%, 55%);
  --blue: hsl(240, 81%, 58%);
  --gray: hsl(0, 4%, 86%);
  --darkgray: rgb(192, 178, 178);
  --yellow: rgb(253, 253, 7);
  --yellowgreen: rgb(131, 248, 13);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: gray;
}

.container {
  display: flex;
  background-image: url("../images/tools.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  margin: 4rem;
}

.image {
  display: flex;
}

.image h2 {
  color: var(--yellow);
  font-size: 1.5rem;
  margin: 2rem;
}

.image h3 {
  font-size: 1rem;
  margin: 2rem 6rem;
  color: var(--yellow);
}

.image h3 a:hover {
  color: var(--blue);
}

.image h3 a {
  color: var(--yellow);
}

/* Login Cobtainer Styling */
.login-con {
  margin: 3rem 0.3rem;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 1.2rem;
  color: var(--yellow);
  text-align: center;
  margin-bottom: 2rem;
}

.button {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  background: var(--gray);
  padding: 0.3rem 1rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.admin {
  background: var(--blue);
  color: var(--white);
  font-size: 1rem;
  border-radius: 2rem;
  padding: 1rem 2.5rem;
  border: none;
  margin-right: 3rem;
  margin-left: 0;
}

.customer a {
  color: var(--white);
}

.customer {
  background: transparent;
  color: var(--white);
  font-size: 1rem;
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin-right: 2.5rem;
  border: none;
}

form {
  display: inline-block;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.9rem 0.7rem;
  border: 1px solid var(--lightblue);
  outline: none;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

input[placeholder] {
  color: var(--darkgray);
}

.forgot-pwd {
  display: flex;
  margin-bottom: 1rem;
}

.forgot-pwd label {
  margin-left: 0.5rem;
  font-size: 0.9rem;
  color: var(--lightblue);
}

.pwd {
  display: flex;
  cursor: pointer;
  margin-left: 12rem;
  font-size: 0.9rem;
  color: var(--lightblue);
}

.log-in {
  padding: 0.7rem;
  cursor: pointer;
  width: 35%;
  margin-bottom: 1.5rem;
  color: var(--white);
  background: var(--blue);
  border-radius: 0.5rem;
  border: none;
}

.option {
  color: var(--white);
}

span a {
  color: var(--blue);
}

span a:hover {
  color: var(--yellowgreen);
}

p {
  font-size: 0.9rem;
}

/* Media Query */
@media screen and (max-width: 1024px) {
  .image h2 {
    font-size: 1.4rem;
  }

  .avatar {
    width: 50vw;
  }

  h3 {
    font-size: 1.2rem;
    margin-right: 5rem;
  }

  .button {
    margin-left: 0;
    padding: 0.4rem 0.2rem;
    width: 80%;
  }

  .admin {
    margin-left: 1rem;
    padding: 1rem 1.9rem;
  }

  .admin,
  .customer {
    font-size: 0.9rem;
  }

  input[type="text"],
  input[type="password"] {
    padding: 0.8rem 0.7rem;
    width: 80%;
  }

  .forgot-pwd label,
  .pwd,
  p {
    font-size: 0.8rem;
  }

  .pwd {
    margin-left: 5rem;
  }

  .log-in {
    padding: 0.4rem;
    width: 25%;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .link h2 {
    font-size: 1.2rem;
  }

  .avatar {
    width: 50vw;
  }

  h3 {
    margin-right: 10rem;
    font-size: 1.2rem;
  }

  .button {
    width: 75%;
    margin-left: 0;
    padding: 0.4rem 0.2rem;
  }

  .admin {
    margin-left: 2.5rem;
    padding: 1rem 1.5rem;
  }

  .admin,
  .customer {
    font-size: 1rem;
  }

  input[type="text"],
  input[type="password"] {
    padding: 0.8rem 0.6rem;
    width: 80%;
  }

  .pwd,
  .forgot-pwd label,
  .option,
  span {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  .login-con {
    margin-left: 3rem;
  }

  .image {
    display: none;
  }

  h3 {
    margin-right: 8rem;
    font-size: 1.2rem;
  }

  .button {
    padding: 0.3rem 0.2rem;
    width: 80%;
    margin-left: 0;
  }

  .admin {
    margin-left: 1.2rem;
    padding: 0.7rem 1.5rem;
  }

  .admin,
  .customer {
    font-size: 1rem;
  }

  input[type="text"],
  input[type="password"] {
    width: 80%;
    padding: 0.8rem 0.6rem;
  }

  .pwd,
  .forgot-pwd label,
  .option,
  span {
    font-size: 0.7rem;
  }

  .pwd {
    margin-left: 7rem;
  }
}

@media screen and (max-width: 375px) {
  .button {
    width: 85%;
  }

  .customer {
    margin-left: 1.7rem;
  }

  input[type="text"],
  input[type="password"] {
    width: 85%;
  }

  .pwd {
    margin-left: 6rem;
  }
}
