@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --yellow: rgb(253, 253, 7);
  --black: #000;
  --saturatedblue: rgb(36, 193, 245);
  --white: #fff;
  --yellowgreen: rgb(131, 248, 13);
  --lightgray: rgb(177, 175, 175);
  --darkblue: hsl(240, 70%, 45%);
}

body {
  background-color: rgb(245, 242, 242);
  font-family: "Poppins", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 5% 95%;
  margin: 0;
}

.container {
  margin: 0;
}

/* Navigation Styling */

header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 1rem;
  background-color: var(--white);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

nav h3 {
  display: none;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.notification {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  border-right: 2px solid var(--lightgray);
  padding-right: 2rem;
  cursor: pointer;
}

.notification img {
  margin-right: 1rem;
  height: 1.5rem;
}

.notification p {
  margin: 0;
  font-size: 1rem;
  color: var(--lightgray);
}

.notification p:hover {
  color: var(--darkblue);
}

.fixmyride {
  padding: 0.5rem 1rem;
}

.fixmyride h4 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.fixmyride h4:hover {
  color: var(--yellow);
}
/* End of Navigation Section Styling */

/* Side bar Section Styling */
.side-bar {
  display: grid;
  width: 100%;
  height: 100%;
  margin-right: 0;
}

.side-bar-container {
  background-color: darkblue;
  padding: 1rem;
}

.side-bar-icons {
  display: grid;
  align-items: center;
  padding-inline: 10px;
}
.side-bar-icons img {
  margin-bottom: 2rem;
  cursor: pointer;
}

/* Live Activity Section Styling */
.live-activity {
  height: auto;
  padding: 2rem 0;
}

h3 {
  padding-top: 2rem;
  margin-bottom: 2rem;
  color: var(--lightgray);
}

.activity {
  margin: 0 2rem;
}

.product-update {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}

.update {
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 0.4rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.request {
  display: flex;
  align-items: center;
}

.request p {
  font-weight: bold;
  padding-left: 1rem;
}

.graph {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.icon {
  height: 30%;
  margin-top: auto;
}

.graph p {
  margin-top: auto;
  padding: 0 0.5rem;
  color: green;
  font-size: 0.8rem;
}

.graph img {
  margin-top: auto;
}

.graph h1 {
  color: var(--lightgray);
  margin-top: 1rem;
  margin-left: auto;
  font-size: 1.5rem;
}

/* Recent Order Section Styling */
.recent-order {
  margin: 0 3rem;
}

.order-header {
  display: flex;
}

.order-header h3 {
  margin-top: -2rem;
}

.order-header img {
  margin-left: auto;
  height: 40%;
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--white);
}

.table-container {
  margin-bottom: 5rem;
}

th,
td {
  padding: 2rem 1.5rem;
  text-align: left;
}

tr {
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: 700;
  text-transform: uppercase;
}

.otp {
  display: flex;
  align-items: center;
  border: 1px solid var(--lightgray);
  height: fit-content;
  padding: 0.4rem;
  width: 150px;
  color: var(--lightgray);
  border-radius: 0.3rem;
}

span {
  color: green;
  margin-left: auto;
}

.pending,
.cancelled,
.completed {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .live-activity {
    margin: 0 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    grid-template-columns: 1fr;
  }

  .product-update {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
  }

  .live-activity {
    margin: 0 2rem;
  }

  .update {
    padding: 1rem;
  }

  .graph h1 {
    font-size: 1.2rem;
  }

  .order-header {
    margin: 0 2rem;
  }

  .table-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0 2rem;
  }

  .table {
    overflow-x: auto;
    display: block;
  }

  .order-header img {
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  main {
    grid-template-columns: 8% 92%;
  }

  nav {
    height: 5vh;
  }

  .nav-right, h2 {
    display: none;
  }

  nav h3 {
    display: block;
    color: var(--yellow);
    cursor: pointer;
  }

  nav h3:hover {
    color: var(--black);
  }

  .side-bar {
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    height: auto;
  }

  .side-bar-container {
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    padding: 1rem 0;
  }

  .side-bar-icons {
    grid-template-rows: 50px;
    grid-column-gap: 10px;
  }

  h3 {
    text-align: center;
  }

  .live-activity {
    margin: 0;
  }

  .order-header {
    margin: 0;
  }

  .order-header h3 {
    font-size: 1rem;
  }

  .table-container {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .table {
    overflow-x: auto;
    display: block;
  }

  th,
  td {
  padding: 1rem .8rem;
  }

  .otp {
    font-size: 0.8rem;
    width: 120px;
  }
}
